@font-face {
	font-family: 'icons-icd';
	src:url('fonts/icons-icd.eot?xlupxg');
	src:url('fonts/icons-icd.eot?#iefixxlupxg') format('embedded-opentype'),
		url('fonts/icons-icd.woff?xlupxg') format('woff'),
		url('fonts/icons-icd.ttf?xlupxg') format('truetype'),
		url('fonts/icons-icd.svg?xlupxg#icons-icd') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icons-icd-"], [class*=" icons-icd-"] {
	font-family: 'icons-icd';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icons-icd-fleche-gauche:before {
	content: "\61";
}
.icons-icd-fleche-droite:before {
	content: "\7a";
}
.icons-icd-dailymotion-2:before {
	content: "\65";
}
.icons-icd-viadeo:before {
	content: "\72";
}
.icons-icd-dailymotion:before {
	content: "\74";
}
.icons-icd-envelope:before {
	content: "\79";
}
.icons-icd-search:before {
	content: "\75";
}
.icons-icd-play:before {
	content: "\69";
}
.icons-icd-twitter:before {
	content: "\6f";
}
.icons-icd-twitter2:before {
	content: "\70";
}
.icons-icd-facebook:before {
	content: "\71";
}
.icons-icd-facebook2:before {
	content: "\73";
}
.icons-icd-googleplus:before {
	content: "\64";
}
.icons-icd-linkedin:before {
	content: "\66";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- STYLES--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
body{
	font-family: 'Arial', sans-serif;
	line-height: 1.4;
	font-size: 18px;
	color:#30363a;
}
.inner{
	width: 980px;
	margin:0 auto;
}
.inner:after{
	content: '';
	display: block;
	clear: both;
	}
input{
	outline: none;
	border: none;	
}
input[type=text],input[type=password]{
	-webkit-box-shadow: inset 0 5px 5px -5px rgba(192, 192, 192, 1);
	-moz-box-shadow: inset 0 5px 5px -5px rgba(192, 192, 192, 1);
	box-shadow: inset 0 5px 5px -5px rgba(192, 192, 192, 1);
	border: 1px solid rgb(216, 216, 216);
	text-indent: 5px;
}
button{
	outline: none;
	background: none;
	border: none;	
}
a{
	color:#30363a;
}
h1, h2, h3, h4, h5, h6{
	color:#30363a;
	}
strong{
	font-weight: bold;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------BACKGROUND------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/

.bg-b{

}
.bg-bc{

}
.bg-bf{

}
.bg-bt{

}
.bg-v{
	
}
.bg-r{
	
}
.bg-g{
	
	}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------COLOR------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.c-b{
	color:;
}
.c-r{
	color:;
}
.c-g{
	color:;
}
.c-gc{
	color:;
}
.c-vf{
	color:;
}
.c-bg{
	color:;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------BORDER COLOR------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------FONTS------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.txt-up{
	text-transform: uppercase;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------TEXT OVERFLOW-------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.txt-overflow-c{	
	overflow: hidden;
}
.txt-overflow-c:before{
	content: "";
	float: left;
	width: 5px;
	height: 100%;
}
.txt-overflow-c:after {
	content: "\02026";
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	float: right;
	position: relative;
	top: -25px;
	left: 100%;
	width: 3em;
	margin-left: -3em;
	padding-right: 5px;
	text-align: right;
	background-size: 100% 100%;
	background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 99%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,1)), color-stop(99%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 99%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e6e6e6', endColorstr='#e6e6e6',GradientType=1 );
}
.txt-overflow-i{
	float: right;
	width: 100%;
	margin-left: -5px;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------FONT SIZE------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.fs-10{
    font-size:10px;
}
.fs-11{
    font-size:11px; 
}
.fs-12{
    font-size:12px; 
}
.fs-13{
    font-size:13px; 
}
.fs-14{
    font-size:14px; 
}
.fs-15{
    font-size:15px; 
}
.fs-16{
    font-size:16px; 
}
.fs-18{
    font-size:18px; 
}
.fs-20{
    font-size: 22px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}
.fs-28{
    font-size: 28px;
}

/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------COL------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.col-2-1,.col-2-2,.col-5-1,.col-5-2,.col-5-3,.col-5-4,.col-5-5{
display: block;
float: left;
}
.col-2-1{
	width: 50%;
}
.col-2-2{
	width: 100%;
}
.col-3-1{
	width: 33.333%;
}
.col-3-2{
	width: 66.666%;
}
.col-3-3{
	width: 100%;
}
.col-5-1{
	width: 20%;
}
.col-5-2{
	width: 40%;
}
.col-5-3{
	width: 60%;
}
.col-5-4{
	width: 80%;
}
.col-5-5{
	width: 100%;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------Vertical Align Middle------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.vam-c{
	position: relative;
}
.vam-c:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.vam-i{
	display: inline-block;
	vertical-align: middle;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------ICON CSS------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.css-icon-arrow{
	display: inline-block;
	} 
.arrow-top{
	border-left: 0.5em solid transparent;

}


/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- HEADER--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- CONTENT--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- HOME ACTUS--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- MAP--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- SWIPER--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	position: relative;
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.home-slider {
	width:100%;
	height: 670px;
	margin-top: -170px;
	position: relative;
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- FOOTER--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
