@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@font-face {
	font-family: 'icons-icd';
	src:url('fonts/icons-icd.eot?xlupxg');
	src:url('fonts/icons-icd.eot?#iefixxlupxg') format('embedded-opentype'),
		url('fonts/icons-icd.woff?xlupxg') format('woff'),
		url('fonts/icons-icd.ttf?xlupxg') format('truetype'),
		url('fonts/icons-icd.svg?xlupxg#icons-icd') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icons-icd-"], [class*=" icons-icd-"] {
	font-family: 'icons-icd';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icons-icd-fleche-gauche:before {
	content: "\61";
}
.icons-icd-fleche-droite:before {
	content: "\7a";
}
.icons-icd-dailymotion-2:before {
	content: "\65";
}
.icons-icd-viadeo:before {
	content: "\72";
}
.icons-icd-dailymotion:before {
	content: "\74";
}
.icons-icd-envelope:before {
	content: "\79";
}
.icons-icd-search:before {
	content: "\75";
}
.icons-icd-play:before {
	content: "\69";
}
.icons-icd-twitter:before {
	content: "\6f";
}
.icons-icd-twitter2:before {
	content: "\70";
}
.icons-icd-facebook:before {
	content: "\71";
}
.icons-icd-facebook2:before {
	content: "\73";
}
.icons-icd-googleplus:before {
	content: "\64";
}
.icons-icd-linkedin:before {
	content: "\66";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*:before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- STYLES--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
body{
	font-family: 'Arial', sans-serif;
	line-height: 1.4;
	font-size: 12px;
	color:#30363a;
}
.inner{
	width: 980px;
	margin:0 auto;
}
.inner:after,.clearfix:after{
	content: '';
	display: block;
	clear: both;
	}
input{
	outline: none;
	border: none;	
}
input[type=text],input[type=password]{
	-webkit-box-shadow: inset 0 5px 5px -5px rgba(192, 192, 192, 1);
	-moz-box-shadow: inset 0 5px 5px -5px rgba(192, 192, 192, 1);
	box-shadow: inset 0 5px 5px -5px rgba(192, 192, 192, 1);
	border: 1px solid rgb(216, 216, 216);
	text-indent: 5px;
	height: 25px;
}
button{
	outline: none;
	background: none;
	border: none;	
}
a{
	color:#30363a;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	}
strong,.bold{
	font-weight: bold;
}
sup {
text-transform: none;
font-size: 0.7em;
vertical-align: top;
}
.arrow-link:before {
content: '>';
display: inline-block;
margin-right: 0.3em;
font-size: 1.2em;
}
.video-link:before {
content: "\69";
display: inline-block;
margin-right: 0.3em;
font-size: 1.8em;
font-family: 'icons-icd';
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
line-height: 1;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
vertical-align: -0.2em;
}
.encoche-left,.encoche-right {
position: relative;
overflow: hidden;
background: none !important;
-webkit-transition: 500ms ease all;
-moz-transition: 500ms ease all;
-ms-transition: 500ms ease all;
-o-transition: 500ms ease all;
transition: 500ms ease all;
}
.encoche-left{
	padding-left: 10px;
}
.encoche-left:before {
content: '';
border-bottom: 10px solid transparent;
border-right: 10px solid;
width: 10px;
height: 100%;
position: absolute;
left: 0;
bottom: 50%;
}
.encoche-left:after {
content: '';
border-top: 10px solid transparent;
border-right: 10px solid;
width: 10px;
height: 100%;
position: absolute;
left: 0;
top: 50%;
}
.encoche:before,.encoche:after{
-webkit-transition: 500ms ease all;
-moz-transition: 500ms ease all;
-ms-transition: 500ms ease all;
-o-transition: 500ms ease all;
transition: 500ms ease all;
}
.encoche-right{
	padding-right: 10px;
}
.encoche-right:before {
content: '';
border-bottom: 10px solid transparent;
border-left: 10px solid;
width: 10px;
height: 100%;
position: absolute;
right: 0;
bottom: 50%;
}
.encoche-right:after {
content: '';
border-top: 10px solid transparent;
border-left: 10px solid;
width: 10px;
height: 100%;
position: absolute;
right: 0;
top: 50%;
}
.encoche-inner{
	height: 100%;
}
.underline{
	text-decoration: underline;
}
a.underline:hover{
	text-decoration: none;
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------BACKGROUND------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/

.bg-b,.bg-bb > .encoche-inner{
background-color: #002b3d;
}
.bg-bc,.bg-bc > .encoche-inner{
background-color: #30a7d1;
}
.bg-bf,.bg-bf > .encoche-inner{
background-color: #022331;
}
.bg-bt,.bg-bt > .encoche-inner{
background-color: #00a3a2;
}
.bg-v,.bg-v > .encoche-inner{
background-color: #a2c614;
}
.bg-r,.bg-r > .encoche-inner{
background-color: #df007c;
}
.bg-g,.bg-g > .encoche-inner{
background-color: #d3d3d3;
	}
.bg-gc,.bg-gc > .encoche-inner{
background-color: #f2f2f2;
	}
.bg-gc2{
	background:#e2e2e2;
}
.bg-gc3{
	background:#f8f8f8;
}
.bg-white{
	background:#fff;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------COLOR------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.c-bleu h2,.c-bleu h3,.c-bleu a{
	color: #002b3d;
}
body .c-b{
	color:#fff;
}
.c-default{
	color:#30363a;
}
.c-r,.bg-r.encoche:before,.bg-r.encoche:after{
	color:#df007c;
}
.c-g{
	color:#c2c2c2;
}
.bg-g.encoche:before,.bg-g.encoche:after{
	color:#d3d3d3;
}
.c-gc,.bg-gc.encoche:before,.bg-gc.encoche:after{
	color:#a6a5a5;
}
.c-v,.bg-v.encoche:before,.bg-v.encoche:after{
	color:#a2c614;
}
.c-vf,.bg-vf.encoche:before,.bg-vf.encoche:after{
	color:#a2c614;
}
.c-bc,.bg-bc.encoche:before,.bg-bc.encoche:after{
	color:#30a7d1;
}
.c-bt,.bg-bt.encoche:before,.bg-bt.encoche:after{
	color:#00a3a2;
}
.c-bg,.bg-bg.encoche:before,.bg-bg.encoche:after{
	color:#8d9ca2;
}
.c-bg2{
	color: #8297a0;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------BORDER COLOR------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------FONTS------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.txt-up{
	text-transform: uppercase;
}
.txt-center{
text-align: center;
}
.txt-left{
	text-align: left;
}
.txt-right{
	text-align: right;
}
.ff-os{
	font-family: 'Open Sans', sans-serif;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------FONT SIZE------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.fs-10{
    font-size:10px;
}
.fs-11{
    font-size:11px; 
}
.fs-12{
    font-size:12px; 
}
.fs-13{
    font-size:13px; 
}
.fs-14{
    font-size:14px; 
}
.fs-15{
    font-size:15px; 
}
.fs-16{
    font-size:16px; 
}
.fs-18{
    font-size:18px; 
}
.fs-20{
    font-size: 20px;
}
.fs-22{
    font-size: 22px;
}
.fs-24{
    font-size: 24px;
}
.fs-26{
    font-size: 26px;
}
.fs-28{
    font-size: 28px;
}

.fs-34{
    font-size: 34px;
}

/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------COL------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.col-2-1,.col-2-2,.col-3-1,.col-3-2,.col-3-3,.col-5-1,.col-5-2,.col-5-3,.col-5-4,.col-5-5{
display: block;
float: left;
}
.col-2-1{
	width: 50%;
}
.col-2-2{
	width: 100%;
}
.col-3-1{
	width: 33.333%;
}
.col-3-2{
	width: 66.666%;
}
.col-3-3{
	width: 100%;
}
.col-5-1{
	width: 20%;
}
.col-5-2{
	width: 40%;
}
.col-5-3{
	width: 60%;
}
.col-5-4{
	width: 80%;
}
.col-5-5{
	width: 100%;
}

.row-2-1{
	height: 50%;
}
.row-2-2{
	height: 100%;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------Vertical Align Middle------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.vam-c{
	position: relative;
}
.vam-c:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}
.vam-i{
	display: inline-block;
	vertical-align: middle;
}
/*-------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------ICON CSS------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------*/
.css-icon-arrow{
	display: inline-block;
	} 
.arrow-top{
	border-left: 0.5em solid transparent;
	border-bottom: 0.5em solid;
	border-right: 0.5em solid transparent;
}
.arrow-bottom{
	border-left: 0.5em solid transparent;
	border-top: 0.5em solid;
	border-right: 0.5em solid transparent;
}
.arrow-left{
	border-top: 0.5em solid transparent;
	border-right: 0.5em solid;
	border-bottom: 0.5em solid transparent;
}
.arrow-right{
	border-top: 0.5em solid transparent;
	border-left: 0.5em solid;
	border-bottom: 0.5em solid transparent;
}


/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- HEADER--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.header {
position: relative;
}
.header:before {
content: '';
position: absolute;
top: 0;
right: 50%;
width: 100%;
margin-right: -190px;
border-top: 130px solid #fff;
border-right: 50px solid transparent;
}
.top-header {
position: relative;
height: 130px;
}
.main-menu-wrapper {
position: relative;
}
.header-left,.header-mid {
float: left;
height: 100%;
}
.header-left{
	width: 25%;
}
.header-mid {
	width: 45%;
	}
.header-right {
float: right;
height: 100%;
width: 30%;
}
.header-logo img {
display: block;
}
.top-menu > .menu-item {
float: left;
height: 50px;
line-height: 50px;
}
.top-menu > .menu-item > a {
padding: 0.5em 1em;
border-right: 1px solid #2B5263;
}
.top-menu > .menu-item:first-child  > a{
border-left: 1px solid #2B5263;
}
.top-menu a {
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.top-menu a:hover {
color: #df007c;
}

.header-search {
position: relative;
height: 50px;
float: right;
line-height: 50px;
}
.header-search-input {
border-radius: 15px;
width: 170px;
text-indent: 30px !important;
}
.header-search-button {
position: absolute;
left: 0;
top: 50%;
margin-top: -8px;
}
.edition-date-adresse {
padding: 0 1em;
margin: 0 1em;
border-left: 1px solid #DADADA;
}
/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- TOP SIDEBAR---------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.top-sidebar-1 {
}
.top-sidebar {
padding-bottom: 16px;
position: relative;
}
.top-sidebar > .inner {
height: 230px;
height: 100%;
padding-top: 16px;
}
.top-sidebar-img-1 {
margin-left: -180px;
margin-right: -180px;
}
.top-sidebar-1{
	text-align: justify;
}
.top-sidebar-1 .inner:after {
display: inline-block !important;
width: 100%;
}
.top-sibdebar-links li {
margin-bottom: 1px;
}
.top-sibdebar-links a {
white-space: nowrap;
display: block;
padding: 1.4em 1em;
}
.top-sibdebar-links{
	position: relative;
}
.top-sibdebar-links:after {
content: '';
position: absolute;
bottom: -30px;
width: 100%;
left: 0;
height: 22px;
margin-top: 2px;
background: url(imgs/links-shadow.png) no-repeat center;
background-size: 100%;
opacity: 0.5;
}
.top-sidebar-toggle-bouton {
cursor: pointer;
position: absolute;
z-index: 1;
bottom: 0;
left: 0;
width: 100%;
}
.top-sibdebar-links .encoche:hover:after, .top-sibdebar-links .encoche:hover:before {
background: #002b3d;
}
.top-sibdebar-links .c-b{
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.top-sibdebar-links .encoche:hover .c-b{
color: #002b3d;
}


.top-sidebar-right {
width: 75%;
padding: 2em;
}
.top-sidebar-left {
width: 25%;
text-align: center;
overflow: hidden;
}
.top-sidebar-right-content {
position: relative;
}
.top-sidebar-dailymotion-link {
position: absolute;
top: 0;
right: 0;
}
.top-sidebar-left img {
max-width: 100%;
}
/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- CONTENT--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.home .main-content.bg-g{
	background: #d3d3d3;
}
.main-content.bg-g{
	background: url(imgs/main-shadow.jpg) top repeat-x #fff;
}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- BREADCRUMBS--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.content-top{
padding: 1em 0;	
}
.content-breadcrumbs {
}
.content-breadcrumbs li:first-child {
margin-left: 0;
}
.content-breadcrumbs li {
display: inline-block;
margin-left:0.5em;
}
.content-breadcrumbs li:before {
content: '>';
margin-right: 0.5em;
}
.content-breadcrumbs li:first-child:before {
	content: none;
	}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- CONTENT PAGE--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.content-inner {
padding:1em;
}
.content-wrapper {
line-height: 1.6em;
}
.content-title {
font-size: 3em;
}
.content-head-socials ul li a:hover {
color: #df007c;
}
.content-head-socials ul li {
display: inline-block;
font-size: 1.4em;
margin-left: 0.5em;
}
.content-inner h1, .content-wrapper h2, .content-wrapper h3, .content-wrapper h4 {
margin-bottom: 0.6em;
font-weight: bold;
text-transform: uppercase;
}
.content-wrapper h2{
	font-size: 1.5em;
	color:  #df007c;
}
.content-wrapper h3{
	font-size: 1.3em;
}
.content-wrapper h4{
	font-size: 1.2em;
}
.content-wrapper ul strong {
	color: #df007c;
}
.content-wrapper ul li:before {
content: '';
color: #df007c;
display: inline-block;
border-left: 0.7em solid;
border-top: 0.5em solid transparent;
border-bottom: 0.5em solid transparent;
vertical-align: -0.05em;
margin-right: 0.7em;
}
.content-inner table{
	width: 100%;
	margin: 1em 0;
}
.content-inner td{
	vertical-align: top;
	padding-right: 5%;
}
.content-wrapper ul,.content-wrapper p {
margin-bottom: 0.6em;
}
/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- PROGRAMME--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

.programme-item {
	position: relative;
padding-left: 2%;
height: 240px;
margin-bottom: 2.5em;
}
.programme-item:first-child {
padding-left: 0;
padding-right: 2%;
}
.programme-item:first-child + .programme-item {
padding-right: 1%;
padding-left: 1%;
}
.programme-item-inner {
height: 100%;
position: relative;
}

.programme-item-img-wrapper {
position: absolute;
left: 0;
top: 0;
width: 35%;
overflow: hidden;
height: 100%;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.programme-item-content {
float: right;
width: 70%;
height: 100%;
position: relative;
overflow: hidden;
padding: 1em;
padding-bottom: 90px;
}
.programme-item-img-wrapper img {
display: block;
min-width: 100%;
min-height: 100%;
margin: auto;
position: absolute;
top: -100%;
right: -100%;
bottom: -100%;
left: -100%;
}
.programme-item-content .encoche-inner {
padding-bottom: 60px;
position: relative;
padding-top: 2.5em;
padding-right: 2em;
padding-left: 1em;
}
.programme-item-link {
position: absolute;
bottom: 1em;
left: 1em;
padding: 0.7em 0;
right: 1em;
text-align: center;
font-weight: bold;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.programme-item-title-txt {
height: 100%;
overflow: hidden;
}
.programme-item-title-txt h3 {
margin-bottom: 0.5em;
}
.programme-item:hover .programme-item-img-wrapper {
left: -10px;
}
.programme-item-link:hover {
color: #002b3d;
background: #fff;
}
.programme-item:nth-child(3n + 1) + .programme-item {
padding-left: 1%;
padding-right: 1%;
}
.programme-item:nth-child(3n + 1) {
padding-left: 0;
padding-right: 1.5%;
}
/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- CONTENT BOTTOM BOX--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.content-bottom-box:first-child {
margin-right: 2%;
}
.content-bottom-box {
width: 49%;
float: left;
padding: 1em;
height: 140px;
position: relative;
padding-bottom: 25px;
}
.content-bottom-box-left {
width: 60%;
height: 100%;
overflow: hidden;
}
.content-bottom-box-right {
width: 35%;
height: 100%;
position: relative;
padding-bottom: 30px;
}
.content-bottom-box-link {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
text-align: center;
font-size: 1.1em;
height: 30px;
line-height: 30px;
font-weight: bold;
}
.content-bottom-box-picto img {
max-width: 100%;
}
.content-bottom-box-picto {
max-height: 100%;
overflow: hidden;
text-align: center;
}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- CONTENT BOTTOM BOX TV--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/   
.content-bottom-box.content-bottom-box-tv {
padding-bottom: 0;
height: 180px;
margin-bottom: 3em;
}
.content-bottom-box-tv iframe {
width: 100%;
height: 100%;
}
.content-bottom-box.content-bottom-box-tv h3 {
margin-bottom: 0.6em;
}
.icd-on-tv-box-left, .icd-on-tv-box-right {
height: 100%;
}
.icd-on-tv-box {
height: 360px;
}
.icd-on-tv-box-left-object {
	position: relative;
padding: 1em;
}
.icd-on-tv-box-left-object.with-link {
padding-bottom: 40px;
position: relative;
}
.icd-on-tv-box-link.video-link {
position: absolute;
bottom: 10px;
left: 1em;
height: 30px;
line-height: 30px;
}
.icd-on-tv-box-left-object h2, .icd-on-tv-box-left-object h3 {
margin-bottom: 0.6em;
}
.icd-on-tv-box-right iframe {
height: 100%;
width: 100%;
}
.icd-on-tv-box-left-object:first-child:after {
position: absolute;
right: -1em;
z-index: 2;
border-left: 1em solid #a2c614;
border-top: 1em solid transparent;
border-bottom: 1em solid transparent;
content: '';
top: 30%;
}
/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- CUSTOM GRID--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.custom-grid-slider {
height: 370px;
overflow: hidden;
}
.custom-grid-col {
position: relative;
}
.custom-grid-slider .swiper-wrapper,.custom-grid-slider .swiper-slide{
	height: 100%;
}
.custom-grid-content {
height: 100%;
padding: 1em;
overflow: hidden;
}
.custom-grid-col.with-link.encoche {
padding-bottom: 0;
}
.custom-grid-col.with-link, .custom-grid-col.with-link .encoche-inner {
padding-bottom: 45px;
}
.custom-grid-link {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 45px;
line-height: 45px;
padding: 0 1em;
z-index: 1;
}
.custom-grid-col.col-2-2 .custom-grid-link {
background: url(imgs/black-o15.png);
}
.custom-grid-col.with-picto,.custom-grid-col.with-picto .encoche-inner {
padding-left: 135px;
}
.custom-grid-col.with-picto.encoche {
padding-left: 0;
}
.custom-grid-picto-wrapper {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 135px;
text-align: center;
padding-bottom: 45px;
padding-top: 1em;
}
.custom-grid-picto-wrapper:before {
content: '';
display: inline-block;
vertical-align: middle;
height: 100%;
}
.custom-grid-picto-wrapper img {
vertical-align: middle;
}
.custom-grid-col.img-content .custom-grid-content {
padding: 0;
position: relative;
}
.img-content img {
display: block;
min-width: 100%;
min-height: 100%;
margin: auto;
position: absolute;
top: -100%;
right: -100%;
bottom: -100%;
left: -100%;
}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- BOTTOM BOXS--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.bottom-sidebar {
padding: 3em 0;
height: 320px;
}
.bottom-sidebar > .inner{
	height: 100%;
	 }
.bottom-box {
	position: relative;
padding-left: 2%;
height: 100%;
}
.bottom-box:first-child {
padding-left: 0;
padding-right: 2%;
}
.bottom-box:first-child + .bottom-box {
padding-right: 1%;
padding-left: 1%;
}
.bottom-box-inner {
height: 100%;
position: relative;
}

.bottom-box-img-wrapper {
position: absolute;
left: 0;
top: 0;
width: 35%;
overflow: hidden;
height: 100%;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.bottom-box-content {
float: right;
width: 70%;
height: 100%;
}
.bottom-box-img-wrapper img {
display: block;
min-width: 100%;
min-height: 100%;
margin: auto;
position: absolute;
top: -100%;
right: -100%;
bottom: -100%;
left: -100%;
}
.bottom-box-content .encoche-inner {
padding-bottom: 60px;
position: relative;
padding-top: 2.5em;
padding-right: 2em;
padding-left: 1em;
}
.bottom-box-link {
position: absolute;
bottom: 1em;
left: 0;
padding: 0.7em 0;
right: 1em;
text-align: center;
font-weight: bold;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.bottom-box-title-txt {
height: 100%;
overflow: hidden;
}
.bottom-box-title-txt h3 {
margin-bottom: 0.5em;
}
.bottom-box:hover .bottom-box-img-wrapper {
left: -10px;
}
.bottom-box-link:hover {
color: #002b3d;
background: #fff;
}
/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- HOME ACTUS--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- MAP--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- SWIPER--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	position: relative;
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.home-slider {
	width:100%;
	height: 670px;
	margin-top: -170px;
	position: relative;
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- FOOTER--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- FOOTER TOP--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.footer-top {
height: 95px;
}
.footer-top .inner,.footer-organisateurs,.footer-partenaires,.footer-top-title,.footer-organisateurs-list,.footer-partenaires-list {
height: 100%;
}
.footer-top-title .encoche-inner {
padding: 0 10px;
}
.footer-top-title {
float: left;
line-height: 95px;
}
.footer-organisateurs-list {
width: 70%;
text-align: center;
}
.footer-organisateurs-list img,.footer-partenaires-list img {
display: inline-block;
}
.footer-organisateurs,.footer-partenaires{
	float: left;
}
.footer-organisateurs {
width: 45%;
}
.footer-partenaires {
	position: relative;
width: 55%;
}
.footer-organisateurs .footer-top-title {
width: 30%;
}
.footer-partenaires .footer-top-title {
width: 20%;
}
.footer-partenaires-list {
position: relative;
width: 70%;
margin-right: 5%;
float: right;
overflow: hidden;
white-space: nowrap;
}
.footer-partenaires-list .swiper-slide{
	text-align: center;	
}
.footer-partenaires-list .swiper-slide img {
max-width: 100%;
}
.partenaire-prev,.partenaire-next {
position: absolute;
left: 19%;
top: 50%;
font-size: 3em;
z-index: 3;
cursor: pointer;
margin-top: -0.6em;
}
.partenaire-next {
	left: inherit;
	right: 0px;
}
/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- FOOTER MID--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.footer-mid {
padding: 2em 0;
}
.footer-mid-box{
position: relative;
padding-left: 1.5%;
padding-right: 1.5%;
padding-bottom: 30px;
min-height: 220px;
}
.footer-mid-box-socials {
padding-bottom: 0;
}

.footer-mid-box h4 {
margin-bottom: 1.4em;
}

.footer-mid-box-content img {
max-width: 100%;
}
.footer-mid-box-link {
position: absolute;
bottom: 0;
left: 7.5%;
height: 30px;
line-height: 30px;
}
.partenaire-media-link {
background: url('imgs/ouest-france-footer.png');
display: block;
width: 105px;
height: 36px;
	color: #8297a0;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.partenaire-media-link:hover {
background: url('imgs/ouest-france-footer-hover.png');
}
.social-links li {
display: inline-block;
position: relative;
font-size: 4em;
margin-right: 0.1em;
}

.social-links li a{
	color: #8297a0;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.social-links li:hover a{
	color: #fff;
	}
.social-links li a span:before {
position: relative;
z-index: 1;
}
.social-links li a span:after {
position: absolute;
content: '';
top: 5%;
height: 90%;
left: 5%;
width: 90%;
border-radius: 50%;
	-webkit-transition: 500ms ease all;
	-moz-transition: 500ms ease all;
	-ms-transition: 500ms ease all;
	-o-transition: 500ms ease all;
	transition: 500ms ease all;
}
.social-links li:hover a span:after {
	background: #a2c614;
	}
.social-links li a span {
position: relative;
}
/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- FOOTER BOTTOM--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/

.footer-sitemap {
padding: 2em 0;
}
.footer-sitemap li:first-child {
border-left: none;
}
.footer-sitemap li {
display: inline-block;
padding: 0 1em;
border-left: 1px solid #3E585A;
}
.footer-bottom .inner {
position: relative;
}
.nantes-just-imagine {
position: absolute;
right: 0;
top: 1em;
}
.footer-bottom .inner {
position: relative;
padding: 1em 0;
}
.footer-mentions a {
color: #8d9ca2;
text-decoration: underline;
}

/*------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------- LOGIN BOX--------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------------*/
.login-lightbox-wrapper.vam-c {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: url(imgs/black-o80.png);
z-index: 4;
text-align: center;
}
.login-lightbox {
width: 680px;
}
.login-lightbox .col-2-1 {
padding: 2em 1em;
}
.login-lightbox-content h4 {
padding: 0.6em 1.2em;
font-size: 1.4em;
margin-bottom: 1em;
}
.login-lightbox-content-form {
padding: 1em 2em;
min-height: 200px;
position: relative;
padding-bottom: 50px;
}
.login-lightbox-submit-wrapper {
height: 50px;
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
left: 0;
}